
html {
    height: 100%;
}

body {
    height: 100%;
    
}
a {
    text-decoration: none;
}

.main {
    height: 100%;
}
.social-image{
    width: 30px;
    margin: 15px;
}

#h{
    display:flex;
    justify-content: center;
    background-color: orange;
}

.navbar{
    display:flex;
    justify-content:space-between;
}
.content{
    display:flex;

}

#img1{
    width:400px;
    height:400px;
}

.rightPane{
    display:flex;
}

#text{
    width:50%;
}